<div id="index-banner" class="">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center  text-lighten-5">Gen4 Market</h1>
        <div class="row center">
          <h5 class="header col s12">Gen4 Market is a repository for training scenarios and allows you to search for new scenarios in Gen4 VR, or make available scenarios you have created on your own to help someone else.</h5>
        </div>
        <div *ngIf="!this.auth.isLoggedIn" class="row center">
          <login></login>
        </div>
        <br><br>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Fast, Quick and Easy</h5>

            <p class="light">Just search our database of public scenarios to find one that suits your needs.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Powerful Simulations</h5>

            <p class="light">World-leading simulation based training software for the mining industry and emergency services.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">The latest version of our Gen4 Editor gives trainers the ability to build their own scenarios quickly and easily, without the need to continually call on external developers.</p>
          </div>
        </div>
      </div>

    </div>
  </div> 

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12"></h5>
            <p class="light g4-text">With over a decade of simulation experience at NSW Mines Rescue, Gen4 VR has been specifically designed to offer a cost-effective, flexible training capability.</p>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../assets/rockInterface.png" ></div>
  </div>
